<div class="contact-container">
    <div class="contact-box">
        <img src="svg/phone.svg" class="contact-img" alt="phone">
        <div class="contact-text-box">
            <p class="main-contact-text">Contact me</p>
            <p class="contact-text">troude.kev&#64;gmail.com</p>
            <button class="contact-button" (click)="onContactClick()">Get to work</button>
        </div>
    </div>    
</div>

<div class="credit-box">
    <p class="credits">Developed by: <span class="credit-bold">Kevin Troude</span></p>
    <p class="credits">Designed by: <span class="credit-bold">www.drawmeasheep.fr</span></p>
    <p class="credits">©Kevin Troude, 2024 - All rights reserved</p>
</div>
