<div class="header_container">
    <div class="invader_header"></div>
    <p class="header_text">Hello world, do you need <br> a developer ?</p>

    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
    <img src="/svg/invader_black.svg" alt="Invader" class="invader">
</div>
