@font-face {
    font-family: 'Minimo';
    src: url('/font/Ahmet-Altun-Minimo-Regular_0.otf') format('opentype');
}

.header_container {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/svg/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.invader_header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 45vw;
    background-image: url('/svg/invader_header.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.header_text {
        font: normal normal normal 7vw/8vw Minimo;
        width: 80%;
        z-index: 2;
}

.invader {
    position: absolute;
    width: 2.5vw;
    height: auto;
    left: 0;
    top: 0;
    z-index: 1000;
}

.cell {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
}
/* 

@media screen and (max-width: 1024px) {
    .invader {
        width: 30px;
    }
} */