@font-face {
    font-family: 'Pangram';
    src: url('/font/Pangram-Regular.otf') format('opentype');
}

.choice-container{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    width: 100vw;
    height: auto;
    
}

.choice-container-black{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-color: black;
    overflow: hidden;
}

.choice-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    min-width: 300px;
}

.choice-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font: 60px/90px 'Pangram';
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;    
}

.no-button{
    position: absolute;
}

.underline{
    height: 8px;
    width: 100%;
    border-radius: 30px;
    background: transparent linear-gradient(93deg, #FAA2FF, #80F4A5) 0% 0% no-repeat padding-box;
    background-size: 200% 200%;
    animation: gradient-flow 5s ease infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.choice-texte {
    font: normal normal normal 77px/70px Minimo;
    color: #ffffff;
    text-align: center;
}

.space-invader {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 100%;
}