@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.choice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100vw;
    height: auto;
}

.choice-container-black{
    position: relative; /* Pour positionner les invaders */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background-color: black;
    overflow: hidden; /* Pour masquer les invaders sortants */
}

.choice-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    min-width: 300px;
}

.choice-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font: normal normal normal 60px/90px Poppins;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.underline{
    height: 8px;
    width: 100%;
    border-radius: 30px;
    background: transparent linear-gradient(93deg, #FAA2FF, #80F4A5) 0% 0% no-repeat padding-box;
    background-size: 200% 200%;
    animation: gradient-flow 5s ease infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.choice-texte {
    font: normal normal normal 77px/70px Minimo;
    color: #ffffff;
    text-align: center;
}

.space-invader {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 100%; /* Démarrage par défaut depuis le bas */
}

.space-invader-0 {
    left: 5%;
}

.space-invader-1 {
    left: 10%;
}

.space-invader-2 {
    left: 15%;
}

.space-invader-3 {
    left: 20%;
}

.space-invader-4 {
    left: 80%;
}

.space-invader-5 {
    left: 85%;
}

.space-invader-6 {
    left: 90%;
}

.space-invader-7 {
    left: 95%;
}
