<div class="choice-container">
    <div class="choice-container-black">
        <p class="choice-texte">
            Would you like <br>to work with me?
        </p>
        <div class="choice-button-container">
            <button id="yes-button" class="choice-button" (click)="onYesClick()">
                Yes
                <div class="underline"></div>
            </button>            
            <button id="no-button" class="choice-button"  [style.cursor]="noButtonCursor"  [style.opacity]="noButtonOpacity" (click)="onNoClick()">No</button>
        </div>
        <!-- Space Invaders SVGs -->
        <img src="svg/invader_color.svg" class="space-invader space-invader-0" alt="Space Invader 0">
        <img src="svg/invader_color.svg" class="space-invader space-invader-1" alt="Space Invader 1">
        <img src="svg/invader_color.svg" class="space-invader space-invader-2" alt="Space Invader 2">
        <img src="svg/invader_color.svg" class="space-invader space-invader-3" alt="Space Invader 3">
        <img src="svg/invader_color.svg" class="space-invader space-invader-4" alt="Space Invader 4">
        <img src="svg/invader_color.svg" class="space-invader space-invader-5" alt="Space Invader 5">
        <img src="svg/invader_color.svg" class="space-invader space-invader-6" alt="Space Invader 6">
        <img src="svg/invader_color.svg" class="space-invader space-invader-7" alt="Space Invader 7">
    </div>
</div>
