<div class="choice-container">
    <div class="choice-container-black">
        <p class="choice-texte">
            Would you like <br>to work with me?
        </p>
        <div class="choice-button-container">
            <button id="yes-button" class="choice-button" (click)="onYesClick()">
                Yes
                <div class="underline"></div>
            </button>            
            <button class="choice-button">No</button>
        </div>
        <!-- Space Invaders SVGs -->
        <img src="svg/invader_color.svg" class="space-invader space-invader-0">
        <img src="svg/invader_color.svg" class="space-invader space-invader-1">
        <img src="svg/invader_color.svg" class="space-invader space-invader-2">
        <img src="svg/invader_color.svg" class="space-invader space-invader-3">
        <img src="svg/invader_color.svg" class="space-invader space-invader-4">
        <img src="svg/invader_color.svg" class="space-invader space-invader-5">
        <img src="svg/invader_color.svg" class="space-invader space-invader-6">
        <img src="svg/invader_color.svg" class="space-invader space-invader-7">
    </div>
</div>
