.code_container {
    width: 100%;
    display: flex;
    justify-content: center;
    outline: none;
    align-items: center;
}

.black_box {
    position: relative;
    width: calc(70% - 27px);
    height: 35vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 0;
    border-radius: 200px 0 0 0;
    margin-bottom: 16px;
    cursor: text;
    outline: none;
    border: none;
    word-wrap: break-word;
    text-align: center;
}

.initial_code_text {
    font: normal normal normal 70px/72px Minimo;
    color: white;
    white-space: pre-wrap;
    margin: 0;
}

.highlight {
    color: #80F4A5;
}

.user_code {
    color: #80F4A5;
    font: normal normal normal 20px/22px Minimo;
    width: 100%;
    height: auto;
    text-align: center;
    white-space: pre
}

.invader-color {
    top: 0;
    left: 0;
    position: absolute;
    width: 50px;
    height: auto;
    z-index: 1000;
    opacity: 0;
    transition: transform 5s linear, opacity 1s ease-in-out;
}

.caret {
    font-size: 22px;
    color: #80F4A5;
    font-family: monospace;
    margin: 0;
}

.blink {
    animation: blink-animation 1s steps(2, start) infinite;
}


.progress-bar-container {
    position: absolute;
    bottom: 25px;
    left: 25%;
    width: 50%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
  }
  
  .progress-bar-fill {
    background-color: #80F4A5;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease;
  }

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@media screen and (max-width: 1024px) {
    .black_box {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .black_box {
        width: 85%;
    }

    .initial_code_text {
        font-size: 20px;
    }
}
