

<div class="code_container" tabindex="0" (keydown)="onKeydown($event)">
    <div class="black_box">
        <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
        <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
        <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
        <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
        <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
        <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
            <span class="initial_code_text" *ngIf="userCode.length === 0">Let's work together. <br> Write anything <span class="highlight">in here</span> !</span>

            <p class="user_code" *ngIf="userCode.length > 0" [innerHTML]="displayedCode">


    </div>
</div>
