<div class="code_container" tabindex="0" (keydown)="onKeydown($event)" (click)="isTextClicked = true">
  <div class="black_box">
    <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
    <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
    <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
    <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
    <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">
    <img src="/svg/invader_color.svg" alt="Invader" class="invader-color">

    <!-- Initial placeholder text -->
    <span class="initial_code_text" *ngIf="!isTextClicked">
      Let's work together. <br> Write anything 
      <span class="highlight">in here</span> !
      <span class="highlight" *ngIf="!isTextClicked && (totalKeystrokes * increment < fullCode.length)" [class.blink]="caretVisible">|</span>
    </span>

    <!-- User's displayed code -->
    <p class="user_code" *ngIf="totalKeystrokes >= 0">
      {{ displayedCode }}
      <span *ngIf="isTextClicked && (totalKeystrokes * increment < fullCode.length)" [class.blink]="caretVisible" class="caret">|</span>
    </p>

    <!-- Progress bar with fade-out effect -->
    <div *ngIf="isTextClicked && !hideProgressBar" class="progress-bar-container">
      <div class="progress-bar-fill" [style.width.%]="progress"></div>
      <p class="caret">{{ getRoundedProgress() }}%</p>
    </div>
  </div>
</div>
