.code_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black_box {
    width: calc(70% - 27px);
    height: 35vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 200px 0 0 0;
    margin-bottom: 16px;
}

.initial_code_text {
    font: normal normal normal 70px/72px Minimo;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1024px) {

    .black_box {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {

    .black_box {
        width: 85%;
        /* margin: 0 16px; */
    }

    .initial_code_text {
        font-size: 20px;
    }
}