<div class="abilities">
    <div class="abilities-container">
        <div class="first">
            <img class="abilities-img" src="/svg/first-inside.svg" alt="first">
            <p class="abilities-text">Backend <br> development</p>
        </div>

        <div class="second">
            <img class="abilities-img" src="/svg/second-inside.svg" alt="second">
            <p class="abilities-text">Frontend <br> development</p>
        </div>

        <div class="third">
            <img class="abilities-img" src="/svg/third-inside.svg" alt="third">
            <p class="abilities-text">Software <br> development</p>
        </div>
    </div>

</div>
